body{
    background-color:#FFFFFF!important;
}


a, a:visited, a:active {
  color: inherit;
  text-decoration: none;
 }

 a:hover{
     color:brown;
     text-decoration: none;
 }

 table{
   /* border: 1px solid black;*/
   border-collapse: collapse;
  }
  table td {
    border: 0px; /* solid black;  Style just to show the table cell boundaries */
   /* display: block;*/
  }
  

 table.no-spacing {
    border-spacing:0; /* Removes the cell spacing via CSS */
    border-collapse: collapse;  /* Optional - if you don't want to have double border where cells touch */
  }

  body {line-height: 0;}
  img {display: block; vertical-align: bottom;}

