body{
    background-color:white!important;
}


a, a:visited, a:active {
  color: inherit;
  text-decoration: none;
 }

 a:hover{
     color:brown;
     text-decoration: none;
 }

 table{
   /* border: 1px solid black;*/
  
  }
  table td {
    border: 0px; /* solid black;  Style just to show the table cell boundaries */
   /* display: block;*/
  
  }

  /*
  font-family: 'MADE Outer Sans Alt', sans-serif;
  font-family: 'MADE Outer Sans', sans-serif;
  font-family: 'MADE Outer Sans Outline Alt', sans-serif;
  font-family: 'MADE Outer Sans Outline', sans-serif;
*/

 table.no-spacing {
    border-spacing:0; /* Removes the cell spacing via CSS */
    border-collapse: collapse;  /* Optional - if you don't want to have double border where cells touch */
  }

  body {line-height: 0;}
  img {display: block; vertical-align: bottom;}

  .degrade_circular{
    background-image: radial-gradient(center center, circle cover, #2C69B1, #1F2330);
    background-image: -o-radial-gradient(center center, circle cover, #2C69B1, #1F2330);
    background-image: -ms-radial-gradient(center center, circle cover, #2C69B1, #1F2330);
    background-image: -moz-radial-gradient(center center, circle cover, #2C69B1, #1F2330);
    background-image: -webkit-radial-gradient(center center, circle cover, #2C69B1, #1F2330);
  position:relative;
  float:left;
  height:250px;
  width:100%;
  }

  .degrade_vertical{
    background-image: linear-gradient(#2C69B1, #1F2330);    
    width:100%;
  }

  .fundo-azul{
    background-color:#244375!important;
    position:relative;
  float:left;
  height:60px;
  width:100%;
  }
  .super-centered {
    position:absolute; 
    width:100%;
    height:100%;
    text-align:center; 
    vertical-align:middle;
    z-index: 9999;
  }

  .fundo-verde{
    background-color:#B1CB06!important;
    position:relative;
  float:left;
  height:60px;
  width:100%;
  }

  .fundo-branco{
    background-color:#FFFF!important;
    position:relative;
  float:left;
  height:80px;
  width:100%;
  }

  .super-centered {
    position:absolute; 
    width:100%;
    height:100%;
    text-align:center; 
    vertical-align:middle;
    z-index: 9999;
  }
  
  .divRowVerde{
    margin-top:20px;
    background-color:#B1CB06!important;
    margin-bottom:20px;
  }
  .divRow {    
    margin-top:20px;
  }
  .divRowB {    
    margin-bottom:40px;
  }
  .divRowApoiadores {    
    margin-top:20px;
    width: 90%;
  }


  
 